<!DOCTYPE html>
<html>
<head>
    <title>Payment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h2>Payment</h2>

    <p>Scan this QR and pay.</p>

    <img src="{{ url_for('static', filename='Image (1).jpg') }}"
         alt="QR Code"
         width="250">

    <br><br>

    <form action="/submit_payment" method="POST">
        <input type="text" name="utr" placeholder="Enter UTR Number" required>
        <br><br>
        <button type="submit">Submit Payment</button>
    </form>

</div>

</body>
</html>
