<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Support</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<h1>Customer Support</h1>

<p>Need help? Contact us.</p>

<p><b>Email:</b> support@companywork.com</p>
<p><b>WhatsApp:</b> +91 8927930731</p>

<a href="/dashboard">
<button>Back to Dashboard</button>
</a>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
